# Node & Vite
node_modules/
dist/
dist-ssr/
*.local

# Python & Virtualenv
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
.pytest_cache/

# Environment variables
.env
.env.*

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
